<div class="page-header">
  <h1>About This</h1>
  <span class="glyphicon glyphicon-picture text-center" aria-hidden="true"></span>
</div>
<div class="featurette" id="video">
  <h2 class="featurette-heading">One Month Rails <span class="text-muted">Learn and Build Your Pinterest-Style Website</span></h2>
  <p class="lead">One Month's Ruby on Rails tutorials are a series of video lessons and tutorials that show anyone (even a total beginner) how to build their first web application (a simple photo-sharing app). When you sign up, you immediately get access to a member's area where you can take each lesson at your own pace. Along the way, you'll learn Ruby on Rails, HTML, CSS, JavaScript, and much more.</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OwjWrDzufZo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<hr class="featurette-divider">
<div class="featurette" id="about">
  <h2 class="featurette-heading">Wagner Brahm <span class="text-muted">This Humble Student</span></h2>
  <%= image_tag("/assets/img/wagner-2011-1.png", alt:"Wagner Brahm's Photo", class: "featurette-image img-circle img-responsive pull-right") %>
  <p class="lead">I'm a creative and experienced web developer, digital marketing, data-driven advertising and data science specialist. A free software and Dungeons &amp; Dragons lover. Pirate and nerd.</p>
  <p class="lead">I work with internet from the last century, and since then new technologies and programming languages have emerged. Ruby on Rails is one of the most agile frameworks of the market and also has a large community of developers.</p>
  <p class="lead">Through One Month Rails I was able to learn Rails in a simple and practical way.</p>
</div>
<hr class="featurette-divider">
