<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; <%= link_to "One Month", "http://www.onemonth.com" %> 2016. Pinteresting is a sample application created for the <%= link_to "One Month Rails", "https://onemonth.com/courses/one-month-rails" %> course. This version was developed by <%= link_to "Wagner Brahm", "http://wagnerbrahm.com.br" %>.</p>
    </div>
  </div>
</footer>
